<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Houzz_Lead_Spider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Houzz_Lead_Spider.Properties.Settings>
      <setting name="searchCategory" serializeAs="String">
        <value />
      </setting>
      <setting name="searchCity" serializeAs="String">
        <value />
      </setting>
      <setting name="currentList" serializeAs="String">
        <value />
      </setting>
      <setting name="searchState" serializeAs="String">
        <value />
      </setting>
      <setting name="searchCountry" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="auditWords" serializeAs="String">
        <value />
      </setting>
    </Houzz_Lead_Spider.Properties.Settings>
  </userSettings>
</configuration>